@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #191258; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .volver {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  .contenedor-registro {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .logo {
    width: 160px;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    font-family: "Montserrat", sans-serif;
  }
  
  .contenedor-registro .boton-registro {
    background: linear-gradient(86deg, rgba(33,33,117,1) 1%, rgba(0,212,255,1) 60%);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .contenedor-registro .boton-registro:hover {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  /* Estilos para dispositivos pequeños */
  @media (max-width: 480px) {
    .contenedor {
      width: 90%;
    }
  }