@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
}

nav {
    background:#0db5bf ;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 20px;
}

.enlace {
    position: absolute;
    padding: 3px 50px;
}

.logo {
    height: 70px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #191258;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active, li a:hover {
    background: #0d7ebf ;
    transition: .5s;
    color: #ffff;
}

/*//////////BARS///BURGER///////*/

.checkbtn {
    font-size: 30px;
    color: #191258;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;  /*//OCULTAR///*/
    
}

#check {
    display: none; /*//OCULTAR_CHECK///*/
}



/*/////RISPONSIVE////////*/

/*/////TABLET////////*/

@media (max-width: 960px) { 
    .enlace {
        padding-left: 30px;
     }
    nav ul li a {
        font-size: 16px;
    }
}

/*/////MOBILE////////*/

@media (max-width: 858px) { 

    .checkbtn {
        display: block;
    }

    ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #0db5bf;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover, li a.active  {
         background: #0d7ebf;
         color: #ffff;

    }

    #check:checked ~ ul {
        left: 0;
    }

}

/*//////////////HOME///////////////*/

.container {
   
    background: linear-gradient(274deg, rgba(13,181,191,1) 22%, rgba(25,18,88,1) 93%);
    padding: 100px 0;
    
}


 .home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
   
}

/*/////////SECTION A LA IZQUIERDA//////////////*/

.text-section {
    flex: 1;
    padding-right: 30px;
    margin: 10px 40px 0px 100px;
}

.title-home {
    font-size: 36px;
    margin-bottom: 10px;
    color: #ffff;
}

.description {
    font-size: 18px;
    margin-bottom: 35px;
    color: #ffff;
}

.gradient-button {
    padding: 10px 20px;
    background: linear-gradient(86deg, rgba(33,33,117,1) 1%, rgba(0,212,255,1) 60%);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s ease;
}

.gradient-button:hover {
    background: #0d7ebf; 
}

/*/////////SECTION A LA DERECHA//////////////*/
.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-section img {
    max-width: 100%;
    width: 350px;
    border-radius: 10px;
}

/*//////////RISPONSIVE-HOME/////////////////*/

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .text-section {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .image-section img {
        max-width: 80%;
    }
}


/*/////CONTENEDOR/////SUSCRIBIRSE////////*/

.subscription-section {
    background-color: #191258;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    

}


.title-form {
    font-size: 24px;
    color: #ffff;
    margin-bottom: 20px;
}

/* //////////////FORMULARIO///////////////*/
.subscription-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

/* //////CAMPOS///DE////ENTRADA///////*/
.input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    flex: 1 1 200px; 
    min-width: 200px;
}


.subscribe-button {
    padding: 10px 20px;
    background-color: #0d7ebf;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.subscribe-button:hover {
    background-color:rgb(33,33,117);
}


.checkbox-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 20px auto 0;
    text-align: left;
}

.checkbox-section label {
    color: #ffff;
}


.checkbox {
    margin-right: 10px;
    transform: scale(1.2);
}

/*/////////////RISPONSIVE//////////////*/
@media (max-width: 768px) {
    .subscription-form {
        flex-direction: column;
        align-items: stretch;
    }

    .input-field {
        width: 100%;
        min-width: 100%;
        
        
    }

    .subscribe-button {
        width: 100%;
    }

    .checkbox-section {
        justify-content: center;
        text-align: center;
    }
}

/*/////CONTENEDOR//SOBRE/MI////////*/

.about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #ffff;
    padding: 30px 50px;
    box-sizing: border-box;
    margin:10px 20px;
}


.about-content {
    flex: 1 1 50%;
    max-width: 600px;
}


.about-title {
    font-size: 32px;
    color: #191258;
    margin-bottom: 20px;
    font-weight: 800;
}


.about-paragraph {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}


.about-button {
    display: inline-block;
    padding: 12px 25px;
    background: linear-gradient(86deg, rgba(33,33,117,1) 1%, rgba(0,212,255,1) 60%);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s ease;
    font-size: 15px;
    font-weight: 600;
}

.about-button:hover {
    background: #0d7ebf;
}


.about-image {
    text-align: center;
    
}

.about-image img {
    max-width: 370px;
    height: auto;
    border-radius: 8px;
    margin-left: 50px;
}

/*/////////////RISPONSIVE//////////////*/

@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        padding: 20px;
    }

    .about-content, .about-image {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .about-title {
        font-size: 28px;
    }

    .about-paragraph {
        font-size: 16px;
    }

    .about-button {
        font-size: 14px;
        padding: 10px 20px;
    }
}

/*/////////CONCEJO////////////*/

.council-section {
    background: linear-gradient(86deg, rgba(0,212,255,1) 0%, rgba(119,232,255,1) 0%, rgba(243,253,255,1) 100%);
    padding: 50px 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.council-title {
    font-size: 30px;
    margin-bottom: 40px;
    color: #191258; 
}

.image-council {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.image-item {
    flex: 1 1 30%;
    margin: 20px;
    text-align: center;
}

.image-item img {
    width: 100%;
    max-width: 110px;
    height: auto;
}

.image-item h2 {
    margin-top: 15px;
    font-size: 1.5em;
    color: #191258;
}

/*/////////////RISPONSIVE//////////////*/

@media (max-width: 768px) {
    .image-item {
        flex: 1 1 45%;
    }
}

@media (max-width: 480px) {
    .image-item {
        flex: 1 1 100%;
    }
}

/*/////////NOTICIAS-CARDS////////////*/

.card-section {
    width: 100%;
    padding: 40px 80px;
    background: #f7f7f7;
    box-sizing: border-box;
}

.section-header {
    text-align: center;
    margin-bottom: 30px;
    
}

.section-title {
    font-size: 30px;
    color: #191258;
    text-align: left;
    
    
}

.section-divider {
    width: 100%;
    height: 1px;
    background-color: #0d7ebf;
    border: none;
    margin-top: 10px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 30%;
    text-align: center;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
    overflow: hidden;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #212175;
    transition: transform 0.3s ease;
}

.card-title:hover {
    transform: translateY(-5px);
}

.card-subtitle {
    color: #333;
    font-size: 1em;
    margin-bottom: 20px;
}

.card-button {
    background: linear-gradient(86deg, rgba(33,33,117,1) 29%, rgba(0,212,255,1) 92%);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background: #212175;
}

/*/////////////RISPONSIVE//////////////*/

@media (max-width: 768px) {
    .card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}

/*/////////SUSCRIBIRSE-REGISTRO////////////*/

.registro-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #0d7ebf;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.registro-item {
    flex: 1 1 30%;
    background-color: #0d7ebf;
    padding: 10px;
    margin: 20px;
    text-align: center;
   
}

.registro-item h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #ffff;
}

.registro-item button {
    background-color: #191258;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.registro-item button:hover {
    background-color: #00d4ff;
    color: #191258;
}

.registro-item a {
    color: #ffff;
    text-decoration: none;
}

.registro-item a:hover {
    text-decoration: underline;
}

/*/////////////RISPONSIVE//////////////*/

@media (max-width: 768px) {
    .section-item {
        flex: 1 1 100%;
        margin: 10px 0;
    }
}

/*/////////////FOOTER///////////////*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #191258;
    padding: 20px;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.footer-left {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.footer-left .logo {
    margin-bottom: 20px;
}

.social-icons {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin-right: 10px;
    font-size: 24px;
    color: #ffff;
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.social-icons a:hover {
    background-color: #191258;
    color: white;
}

.footer-left p {
    margin: 10px 0;
    color: #ffff;
}

.footer-email {
    color: #ffff;
}

.footer-right {
    flex: 1 1 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

iframe {
    border-radius: 8px;
    width: 100%;
    height: 250px;
}

/*/////////////RISPONSIVE//////////////*/

@media (max-width: 768px) {
    .footer-left, .footer-right {
        flex: 1 1 100%;
        text-align: center;
    }

    .footer-right iframe {
        height: 300px;
    }
}